*, ::after, ::before {
    box-sizing: border-box;
}

.timeline-container {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 1em;
    background: #EEE;
    background-image: linear-gradient(#e17b77, #e17b77);
    background-size: 4px 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.timeline-element {
    width: 50%;
    color: #333;
    display: flex;
    position: relative;
}

.timeline-element:nth-child(odd) {
    justify-content: flex-start;
    padding-left: 1.9em;
    text-align: left;
    align-self: flex-end;
}

.timeline-element:nth-child(even) {
    justify-content: flex-end;
    padding-right: 1.9em;
    text-align: right;
    align-self: flex-start;
}

.timeline-element:nth-child(odd) .label {
    float: right
}

.timeline-element:nth-child(even) .label {
    float: left;
}

.timeline-element-content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 15px;
    position: relative;
    width: 400px;
    max-width: 70%;
}

.timeline-element-content::after {
    content: ' ';
    background-color: whitesmoke;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}

.timeline-element:nth-child(odd) .timeline-element-content {
    text-align: right;
}

.timeline-element:nth-child(odd) .timeline-element-content {
    text-align: left;
}

.timeline-element:nth-child(odd) .timeline-element-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-element-content .circle {
    background-color: #fff;
    border: 3px solid #e17b77;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -40px;
    width: 20px;
    height: 20px;
    z-index: 100;
}

.timeline-element:nth-child(odd) .timeline-element-content .circle {
    right: auto;
    left: -40px;
}

.label {
    color: white;
    font-weight: bolder;
    padding: 0.25em;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.date {
    font-size: small;
}

@media only screen and (max-width: 1023px) {
    .timeline-element-content {
        max-width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .timeline-element-content,
    .timeline-element:nth-child(even) .timeline-element-content,
    .timeline-element:nth-child(odd) .timeline-element-content {
        padding: 15px 10px;
        text-align: center;
    }
    .timeline-element-content .label {
        float: none;
        width: 100%;
        text-align: center;
    }
    .timeline-element-content .date {
        text-align: center;
        margin-top: 3em;
    }
    .timeline-element-content a {
        text-decoration: underline;
    }
    .timeline-element-content a::after {
        display: none;
    }
}